{% extends "pages/base.html" %}

{% block content %}
<script>
	$(window).load(function(){
		$('#onload').modal('show');
	});
</script>

<div class="btnContainer">
	<h3 id ="subtitle"><i>Your Consultant for Just-in-Time Information When Disasters Strike</i><br>Topic: COVID-19</h3>
	<div class="btn-lg">
		<button type="button" class="hero-btn responsive-width" id="providerBtn" onclick="window.location.href = '{{ url_for('Pages_categories') }}';" style="white-space: normal;">
			<h2 class="provider-btn-title">Go To Clinical and Operational Resources
				<img src="{{ url_for('static', filename = 'images/chevron-right.png') }}" align="right" class="provider-btn-chevron"></h2>
			</button>
		</div>
		<br>
		<p style="padding-left: 1em; padding-right: 1em;">This clinical resource is under constant development due to our rapidly evolving understanding of COVID-19,<br> 
		please check back frequently for updates and help us improve by providing feedback.</p>	
	</div>

	<div class="container-fluid" style="text-align: center; ">
		<div class="row">
			<div class="col-sm-4">
				<h4><a href="#newsHere" style="color: #25353F;"><u>Latest News</u></a></h4>
			</div>
			<div class="col-sm-4">
				<h4><a href="#literatureHere" style="color: #25353F;"><u>Latest Literature</u></a></h4>
			</div>
			<div class="col-sm-4">
				<h4><a href="#numbersHere" style="color: #25353F;"><u>Latest Numbers</u></a></h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class = "greyLine"></div><br><br>
			<div class="col-sm-9">
				<!--newsContainerStart-->
				<div class="col-sm-9" id="newsContainer"  style="white-space: normal; max-width: 100%; padding-left: 0;" id="newsHere">
					<h2  id="newsHere">Latest News</h2>


					{% for link in links %}
					<div class="row newsRow">
						<div class="image-container" style="background-image: url('{{ link.large_url }}');">
						</div>
						<div>
							<h4 style="white-space: normal;">{{ link.title }}</h4>
							<p>{{ link.description }}</p>
							<a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
						</div>
					</div>
					{% endfor %}

					<br>
					<div class="btnRow" style="display:flex; justify-content:flex-end; width:100%; padding:0;">
						<p><a class="btn btn-secondary" href="{{ url_for('Pages_view_all_news') }}" role="button" style="font-weight: 700">See more news &raquo;</a></p>
					</div>
				</div><!--NewsContainerEnd-->

				<!--middleContainerStart-->
				<div class = "greyLine"></div><br>
				<div class="col-sm-9" id="literatureHere" style="white-space: normal; max-width: 100%; padding-left: 0;">
					<!-- <div class="col-sm-9" id="newsContainer" style="white-space: normal;"> -->
						<h2 >Latest Literature</h2>

						{% for lit in literatures %}
						<div class="row newsRow" style="width: 100%;">
							<div>
								<h4 style="white-space: normal;">{{ lit.title }}</h4>
								<p>{{ lit.excerpt }}</p>
								<a href="{{ url_for('Pages_view_literature', literatureID=lit.id) }}" >View Literature</a>
							</div>
						</div>
						{% endfor %}

						<br>
						<div class="btnRow" style="display:flex; justify-content:flex-end; width:100%; padding:0;">
							<p><a class="btn btn-secondary" href="{{ url_for('Pages_view_all_literature') }}" role="button" style="font-weight: 700">See more literature &raquo;</a></p>
						</div>
						<!-- </div> -->
					</div>
					<!-- middleContainerEnd -->
				</div><!--end col-->

				<div class="col-sm-3">
					<center>
						<div class="useful-links-box">
							<h4>Useful Links</h4>
							<div class="blueLine"></div>
							<h5>National/ International</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a></li>
								<li class="useful-link"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
								<li class="useful-link"><a href="https://www.osha.gov/SLTC/covid-19/">OSHA</a></li>
								<li class="useful-link"><a href="http://www.med.umich.edu/surgery/mcccn/documents/DoD-COVID-19-Practice-Management-Guide-V10">Military/ DOD</a></li>
							</ul>
							<h5>Emergency Medicine</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.acep.org/corona/covid-19-field-guide/cover-page/">ACEP</a></li>
							</ul>
							<h5>Critical Care</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.sccm.org/SurvivingSepsisCampaign/Guidelines/COVID-19">SCCM</a></li>
								<li class="useful-link"><a href="https://www.chestnet.org/Guidelines-and-Resources/COVID-19/Updates-and-Resources">ACCP</a></li>
							</ul>
							<h5>Infectious Disease</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.idsociety.org/public-health/COVID-19-Resource-Center/">IDSA</a></li>
							</ul>
							<h5>Surgery</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.facs.org/covid-19">ACS</a></li>
							</ul>
							<h5>EMS</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://naemsp.org/resources/covid-19-resources/">NAEMSP</a></li>
							</ul>
							<h5>OB/GYN</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.acog.org/en/Topics/COVID-19">ACOG</a></li>
							</ul>
							<h5>Pediatrics</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://services.aap.org/en/pages/2019-novel-coronavirus-covid-19-infections/">AAP</a></li>
							</ul>
							<h5>Psychiatry</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.psychiatry.org/psychiatrists/covid-19-coronavirus/practice-guidance-for-covid-19">APA</a></li>
							</ul>
							<h5>Radiology</h5>
							<ul style="margin: 0; margin-top: 0.5em;">
								<li class="useful-link"><a href="https://www.acr.org/Clinical-Resources/COVID-19-Radiology-Resources">ACR</a></li>
							</ul>
						</div> <!--end link box style-->
					</center>
				</div><!--end col-->
			</div>
		</div><!--end container-->





		<div class="container-fluid" id="anyContainer"><!--numbersContainerStart-->
			<div class = "greyLine"></div><br>

			<h2 id="numbersHere">Latest Numbers</h2>
			<span style="color: #5a5a5a"><i>Data provided by Johns Hopkins CSSE and Our World in Data</i></span>
			<div class="api-data">

				<div class="selectcountry">
					<select id="select" class="custom-select" style="margin-top: 0.5em; display: none;" onchange="getDataForCountry(document.getElementById('select').selectedIndex)"></select>

					<center>
						<iframe src="https://ourworldindata.org/grapher/covid-confirmed-cases-since-100th-case?country=USA" style="margin-top: 1em; width: 100%; height: 600px; border: 0px none;"></iframe>
					</center>
					<br><br>

					<div class="country-specific-data">
						<h3 id="currentcountry"></h3>
						<span style="color: #5a5a5a"><i>Updated Hourly</i></span>
						<div class="row" id="stats">
							<div class="col-md-4">
								<h1 id="currentcases"></h1>
								<h4>Cases</h4>
							</div>
							<div class="col-md-4">
								<h1 id="currentdeaths"></h1>
								<h4>Deaths</h4>
							</div>
							<div class="col-md-4">
								<h1 id="currentrecovered"></h1>
								<h4>Recovered</h4>
							</div><!--col end-->
						</div><!--row end-->
					</div><!--country end-->
				</div><!-- select country end-->

				<br><div class = "greyLine" style="width: 50%;"></div><br>

				<div class="global-data">
					<h3>Global Data</h3>
					<span style="color: #5a5a5a"><i>Updated Daily</i></span>
					<div class="row" id="stats">
						<div class="col-md-4">
							<h1 id="globalcases"></h1>
							<h4>Cases</h4>
						</div>
						<div class="col-md-4">
							<h1 id="globaldeaths"></h1>
							<h4>Deaths</h4>
						</div>
						<div class="col-md-4">
							<h1 id="globalrecovered"></h1>
							<h4>Recovered</h4>
						</div><!--col end-->
					</div><!--row end-->
				</div><!--global end-->	  

				<br>

			</div><!--api data end-->
		</div><!--numbers container end-->

		<script>
			let requestOptions = {
				method: 'GET',
				redirect: 'follow'
			};
	let dataArray = [];            //holds parsed data for each country
	let globalTotals = [0, 0, 0]; // holds the global number of cases, deaths, and recovered
	let allThisData = [];
	let chartMap = new Map();
	let myChart;

	getData();

	//****************************************************************************************
	// Fetches and parses data from API and accumulates global aggregates for cases, deaths, 
	// and recovered.
	//****************************************************************************************
	function getData() {
		fetch("{{ url_for('API_graph_summary_data') }}", requestOptions)
		.then(res => {
			return res.json();
		}).then(obj => {
			globalTotals = [0, 0, 0];
			idx = 0;
			for (let [key, value] of Object.entries(obj.Countries)) {
				if(!value.Country == '' && !value.Country.includes('The') && !value.Country.includes('Republic ') && !value.Country.includes('(Islamic') && !value.Country.includes('*') && !value.Country.includes('Nam') && !value.Country.includes('SAR') && !value.Country.includes('Russian F') && !value.Country.includes('St.')) {
					let newEntry = {
						id: idx = 0,
						country: value.Country == 'US' ? 'United States' : (value.Country == 'Korea, South' ? 'South Korea' : value.Country),
						slug: value.Slug,
						totalconfirmed: value.TotalConfirmed,
						totaldeaths: value.TotalDeaths,
						totalrecovered: value.TotalRecovered
					}
					idx++;
					dataArray.push(newEntry);
					globalTotals[0] += newEntry.totalconfirmed;
					globalTotals[1] += newEntry.totaldeaths;
					globalTotals[2] += newEntry.totalrecovered;
				}  
				dataArray.sort((a, b) => a.country.localeCompare(b.country));
			}
		})
		.then(() => {
			document.getElementById('globalcases').innerText = numFormat(globalTotals[0]);
			document.getElementById('globaldeaths').innerText = numFormat(globalTotals[1]);
			document.getElementById('globalrecovered').innerText = numFormat(globalTotals[2]); 
	        populateGlobal(); // calls next function after this one is finished
	    })
		.catch(error => console.log('error', error));    
	}  

	//****************************************************************************************
	// Fires when each time a new country is selected from the dropdown. Displays data in the 
	// bottom box relevant to the country selected.
	//****************************************************************************************
	function getDataForCountry(selectedIndex) {
		document.getElementById('currentcountry').innerText = dataArray[selectedIndex].country;
		document.getElementById('currentcases').innerText = numFormat(dataArray[selectedIndex].totalconfirmed);
		document.getElementById('currentdeaths').innerText = numFormat(dataArray[selectedIndex].totaldeaths);
		document.getElementById('currentrecovered').innerText = numFormat(dataArray[selectedIndex].totalrecovered);
		getDailyByCountry(dataArray[selectedIndex]);
	}

	//****************************************************************************************
	// Populates the dropdown menu drawing from the contents of dataArray.
	//****************************************************************************************
	function populateGlobal() {
		document.getElementById('select').innerHTML = dataArray
		.map(
			d => d.country == 'United States of America' ? `<option selected>${d.country}</option>` :  `<option>${d.country}</option>`
			);
	    getDataForCountry(document.getElementById('select').selectedIndex); // calls next function after this one is finished
	}


	//****************************************************************************************
	// Formats numbers for display in the Global Data and Country Specific boxes
	//****************************************************************************************
	function numFormat(num) {
		let s = '';

		let x = 0;
		while(num > 0) {
			if(x % 3 == 0 && x != 0) {
				s+= ',';
			}
			s += num % 10;
			num = Math.floor(num / 10);
			x++;
		}

		return s.split("").reverse().join("") || "0";
	}


	//****************************************************************************************
	// Gets and parses data for each country by number of cases and date
	//****************************************************************************************
	function getDailyByCountry(country) {
		document.getElementById('graph').style.display = "none";
		document.getElementById('loading').style.display = "block";
		document.getElementById('loading').className = "d-flex justify-content-center";

		let count = 0
		chartMap.clear();
		let requestURL = "https://api.covid19api.com/country/" + country.slug +"/status/confirmed"
		if (country.slug == "united-states") {
			requestURL = "{{ url_for('API_us_graph_data') }}";
		}
		
		fetch(requestURL, requestOptions)
		.then(response => response.json())
		.then(result => allThisData = result)
		.then(_=> {
			let date;
			
			for(let o of allThisData) {
				if(o.Status == "confirmed") {
					date = new Date(o.Date).getTime();
					chartMap.set(date, (chartMap.get(date) || 0) + o.Cases); 
				}
			}

			makeChart(chartMap);
		})
		.catch(error => console.log('error', error));
	}


	//****************************************************************************************
	// Draws chart using the data in chartMap
	//****************************************************************************************
	function makeChart(map) {
		document.getElementById('graph').style.display = "block";
		document.getElementById('loading').style.display = "none";
		document.getElementById('loading').className = "";

		const ctx = document.getElementById('graph').getContext('2d');
		ctx.clearRect(0, 0, document.getElementById('graph').width, document.getElementById('graph').height);
		let xlabels = [];
		xlabels = Array.from(map.keys());
		for(let i = 0; i < xlabels.length; i++) {
			xlabels[i] = new Date(xlabels[i]).toString().substring(4, 10);
		}
		let ylabels = [];
		ylabels = Array.from(map.values());

		if(myChart) {
			myChart.destroy();
		}
		myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: xlabels,
				datasets: [{
					label: 'COVID-19 Cases',
					data: ylabels,
					pointRadius: 2,
					backgroundColor: 
					'rgba(233, 223, 196, 0.15)',
					borderColor: 
					'rgba(40, 53, 62, 1)',
					borderWidth: 1
				}]
			},
			options: {
				responsive: false,
				scales: {
					xAxes :[{
						ticks: {fontSize: 10}
					}],
					yAxes: [{
						ticks: {
							fontSize: 10,
							beginAtZero: true,
							callback: function(value, index, values) {
								if(Math.floor(value / 1000) > 1) {
									return value/1000 + 'k';
								} else {
									return value;
								}
							}
						}
					}]
				}
			}
		});
	}
</script>

{% endblock %}
