body{
  font-family: "Montserrat", sans-serif;
  min-height: 2em;
  color: black;
  width: 100%
}

h1{
  font-weight: 900;
}

h2{
  font-weight: 800;
}

h3{
  font-weight: 700;
}

h4{
  font-weight: 700;
  white-space: normal;
}

h5{
  font-weight: 600;
}

a{
	color: #1373b0;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

img {
  width: 100%;
}

.about-us-profile-img {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 4px;
}

.about-us-profile-img-editorial {
  width: 80%;
  margin-bottom: 2em;
  border-radius: 4px;
}

.about-us-profile-img-senior {
  width: 60%;
  margin-bottom: 2em;
  border-radius: 4px;
}
.btn-link {
  font-weight: 600;
}

.provider-btn-title {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.provider-btn-subtitle {
  font-size: 1.75rem;
}

.provider-btn-chevron {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  .provider-btn-title {
    font-size: 1.5rem;
  }

  .provider-btn-subtitle {
    font-size: 1.00rem;
  }

  .provider-btn-chevron {
    width: 15px;
    height: 15px;
  }
}

.navbar{
  background-color: #25353F;
}

.navbar-nav li{
  padding-left: 1.5em;
}

.btnContainer{
  background-color: #FFFFFF;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  text-align: center;
}

.btn{
  text-align: left;
  background-color: #EBDFC1;
  border: none;
  color: #000000;
}

.hero-btn{
  text-align: left;
  background-color: #bf0000;
  border: none;
  border-radius: 12px;
  color: #000000;
  box-shadow: 0px 6px 0px #ad0000, 0px 3px 15px rgba(0,0,0,.4);
}
.hero-btn:hover {
  background-color: #cf0000;
}

#providerBtn{
  width: 90%;
  padding: 1.5em 3em 1.5em 3em;
}

.container-fluid{
  width: 90%;
}

#usefulLinks{
  border: 0.25em solid #D8D8D8;
  border-radius: 1em;
  padding: 1em 2em 1em 2em;
}

.usefulLinksTitle{
  border-width: 80%;
  border-bottom: 0.5em solid #ACBBE6;
}

.dropdown-item.active {
  background-color: #EBDFC1;
  color: black;
}

.provider-select-description {}

.provider-select-description p {
  margin: 0;
}

.linkRow{
  padding-top: 1em;
}

.newsRow{
  padding-top: 1.5em;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  white-space: normal;
  word-wrap: break-word;
}

.news-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnRow{
  text-align: right;
  padding-right: 1.5em;
}

.image-container {
  background-size:cover;
  background-repeat:no-repeat;
  width: 12em;
  height: 12em;
  border-radius: 1.0em;
  float: left;
  margin-right: 1.5em;
  border-style: solid;
  border-width: 1.0px;
  border-color: black;
}

@media only screen and (max-width: 800px) {
  .image-container {
    float: none;
    width: 100%;
    height: 12em;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  .newsRow{
    display: block;
  }
}

#anyContainer{
  padding-top: 1.5em;
}

.literature{
  padding-bottom: 1em;
}

#stats{
  text-align: center;
  padding-top: 1.5em;
}

#graphContainer{
  height: 20em;
  border-radius: 2em;
  background-color: #D8D8D8;
}

.providerTypeButton {
  background: #C0E1EA;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 10px;
  margin: 2px 0;
  text-align: center;
}
.providerTypeButton:hover {
  background-color: #9fc6d1;
}

.providerTypeButtonClicked {
  background: #25353F;
  color: white;
  border: 3px solid #C0E1EA;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 2px 0;
  text-align: center;
}

.infoSectionButton {
  border: 2px solid #D7D7D7;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  text-align: left;
  cursor: pointer;
}
.infoSectionButton:hover {background-color: #D7D7D7;}

.collapsible {
  background:#ACBBE6;
  border: none;
  border-radius: .8em .8em 0em 0em / .8em .8em;
  width: 100%;
  padding: 14px;
  text-align: left;
}

.collapsible:hover {
  background-color: #8AA3E8;
}

.collapsibleContent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0em 0em .8em .8em / .8em .8em;
  border: 4px solid #ACBBE6;
}

.useful-links-box {
  border: 2px solid #D7D7D7;
  border-radius: 10px;
  width: 95%;
  padding: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .useful-links-box {
    width: 100%;
  }
}

.useful-link {
  color: black;
  margin-bottom: 0.5em;
}

.blueLine {
  height: 5px;
  width: 100%;
  margin: 0;
  margin-bottom: 0.5em;
  background-color: #C0E1EA;
}

.greyLine {
  height: 4px;
  width: 100%;
  margin: 16px 0;
  background-color: #EBDFC1;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#infoContainer{
  padding-top: 2em;
}

.btn-link{
  border: 2px solid #e8d29b;
  padding: 16px;
}

.api-data {
  left: 30%;
  top: 0.4%;
  height: auto;
  width: 100%;
  padding: 2px;
  min-width: 249px;
  text-align: left;
  align-content: center;
  border: none;
  display: grid;
}

.api-data h3, h4 {
  padding-left: 0pt;
  padding-right: 0pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.global-data {
  max-width: 100%;
}

.country-specific-data {
  max-width: 100%;
}

#select {
	width: 20em;
  color: black;
}

.canvas {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 800px;
}

#graph {
  height: 200px;
  width: inherit;
}

#loading {
  display: block;
}

.chart {
  width: 400px;
}

.longlist {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 800px) {
  .chart {
    width: 100%;
  }
  #navtitle{
    font-size: 16px;
  }
  #subtitle{
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .api-data {
    left: 0;
    right: 0;
    font-size: small;
    max-width: 100% + 4px;
    width: 100%;
    margin: 0;
  }
}

.text-tiny {
  font-size: 0.7em;
}

.text-small {
  font-size: 0.85em;
}

.text-big {
  font-size: 1.4em;
}

.text-huge {
  font-size: 1.8em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}


:root {
  --ck-highlight-marker-blue: #72cdfd;
  --ck-highlight-marker-green: #63f963;
  --ck-highlight-marker-pink: #fc7999;
  --ck-highlight-marker-yellow: #fdfd77;
  --ck-highlight-pen-green: #118800;
  --ck-highlight-pen-red: #e91313;
  --ck-image-style-spacing: 1.5em;
  --ck-todo-list-checkmark-size: 16px;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
  display: block;
}
/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: .15em;
  border-radius: 2px;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side,
.ck-content .image-style-align-left,
.ck-content .image-style-align-center,
.ck-content .image-style-align-right {
  max-width: 50%;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
  position: relative;
  clear: both;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed hsl(0, 0%, 77%);
  width: 100%;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
  position: relative;
  z-index: 1;
  padding: .3em .6em;
  display: block;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  font-size: 0.75em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  background: #fff;
  box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
  border-left: 0;
  border-right: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table {
  margin: 1em auto;
  display: table;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double hsl(0, 0%, 70%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border-color: hsl(0, 0%, 75%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
  font-weight: bold;
  background: hsla(0, 0%, 0%, 5%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
  list-style: none;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
  margin-bottom: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
  margin-top: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 2px;
  transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
  display: block;
  position: absolute;
  box-sizing: content-box;
  pointer-events: none;
  content: '';
  left: calc( var(--ck-todo-list-checkmark-size) / 3 );
  top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
  transform: rotate(45deg);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
  background: hsl(126, 64%, 41%);
  border-color: hsl(126, 64%, 41%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
  border-color: hsl(0, 0%, 100%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
  vertical-align: middle;
}
/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 97%);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
  background-color: var(--ck-highlight-marker-green);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent;
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent;
}
/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: hsl(0, 0%, 37%);
  margin: 0;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
  padding: 1em;
  color: #353535;
  background: hsla(0, 0%, 78%, 0.3);
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
  background: unset;
  padding: 0;
  border-radius: 0;
}
@media print {
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break {
    padding: 0;
  }
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break::after {
    display: none;
  }
}

.feedback {
  z-index: 401;
  background-color : #25353f;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #1d2930;
}
.feedback:hover {

	background-color:#304350;
}

#mybutton {
  z-index: 400;
  position: fixed;
  bottom: -4px;
  right: 10px;
}


.table-contents-button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  float: none;
  color: #333;
  font-size: 12pt;
  line-height: 100%;
  min-width: 20rem;
  text-decoration: none !important;
  text-align: left;
  padding: 13px 15px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer !important;
  background-image: url(../../static/images/menu_icon.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 16px;
  font-weight: 700;
}



.table-contents-button:focus {
  outline:0;
  background-color: #f5f5f5;
  border-radius: 3px 3px 0px 0px;
}

.table-list {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #333;
  text-align: left;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  float: none;
  padding: 0 0 10px;
  margin: 0;
  list-style: none;
}

.table-contents-section {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  position: relative;
  float: none;
  letter-spacing: 0.05rem;
  font-size: 10pt;
  line-height: 120%;
  font-weight: 700;
  padding: 15px 20px 10px;
  margin: 5px 0 0;
  border-top: 1px solid #ddd;
}

.table-contents-item {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  position: relative;
  float: none;
  font-size: 10pt;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 0;
  margin: -5px 0 0;
  transition: all 0.5s ease;
}



.table-contents-item:hover {
  background-color: #25353F !important;
}

.table-contents-item .active {
  background-color: #25353F !important;
  color: #e8d29b;
}

.table-contents-container {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #333;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  padding: 10px 0;
  width: 20rem;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(0,0,0,0.2) 2px 6px 5px -4px;
  background-color: #f5f5f5;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  top: -5px;
  border-radius: 0px 0px 3px 3px;
}

.table-contents-link {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  list-style: none;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
  font-family: HelveticaNeue, sans-serif;
  float: none;
  color: #333;
  font-size: 10pt;
  line-height: 120%;
  text-decoration: none !important;
  padding: 10px 20px 10px 30px;
  display: block;
  cursor: pointer !important;
  transition: all 0.5s ease;
}

.table-contents-link .active {
  color: #e8d29b;
}

.table-contents-link:hover {
  color: #e8d29b;
}

@media only screen and (max-width: 800px) {
  .table-contents-button {
    width: 100%;
    min-width: 1em;
  }

  .table-contents-container {
    width: 100%;
    min-width: 1em;
  }
}

@media only screen and (max-width: 350px) {
  .table-contents-container {
    transform: translate3d(0px, 50px, 0px);
    max-height: 200px;
  }
}
#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;

	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}
.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}
.navbar-nav {
	margin-left:auto;
}
.jumbotron-home {
    background-color: #103a5d;
    margin-bottom: 0px !important;
}
.jumbotron-mission {
    background-color: #acbae6;
    margin-bottom: 0px !important;
}

.h2viewresources {
  color: #FFFFFF;
}

.mission {
  color: #0f0f0f;
}

.gobutton {
  background-color: #c0f1b4;
}
